.banner{
  overflow:hidden;
  background-color: aliceblue;
  box-shadow: 2px 5px 5px gray;
}
.banner>h2{
  float:left;
  padding:5px;
  margin-left:2%;
}
ul{
  list-style: none;
  margin-right: 2%;
}
.nav-bar li{
	float: right;
}
.nav-bar li a,.nav-bar li button {
  display: block;
  color: black;
  background-color: transparent;
  border:none;
  font-family:inherit;
  text-align: center;
  font-weight:bold;
  padding: 10px 16px;
  text-decoration: none;
  transition-duration: 0.4s;
}
.nav-bar li button{
  padding:12px 14px;
  cursor:pointer;
}


li a:hover,.nav-bar li button:hover,.active-nav-link {
  background-color: #333;
  color:white;
}
