.give-answer-wrapper{
	width:42%;
	margin-left:25%;
	padding-top:2%;
	padding-left:2%;

}
.give-answer-wrapper>p{
	font-size: 150%;
	font-weight: bold;
}
.give-answer-wrapper>textarea{
	overflow: auto;
	width:100%;
	height: 150px;
	resize: none;
}
